@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme {
  --font-inter: "Inter", sans-serif;
}


@theme inline {
  --color-darkpink: #A53349;
  --color-brown: #683239;
  --color-darkgray: #5B3840;
  --color-brownpink: #9C3A50;
  --color-black: #000000;
  --color-browndark: #522D34;
  --color-bgcream: #FFF6E2;
  --color-pink: #E699AB;
  --color-bgbrown: #5D3740;
  --color-white: #FFFFFF;
  --color-bgdarkbrown: #47222B;
  --color-gray1: #B6B6B6;
  --color-darkcream: #DED0C2;
  --color-gray2: #E9E4D6;
  --color-gray3: #252525;
  --color-lightgray: #8D8D8D;
  --color-lightgray2: #E6DDC8;
  --color-darkcream: #EAD9BF;
  --color-lightcream: #F4EAD4;
  --color-lightcream2: #F1E2CA;
}
 
.container{
   @apply max-w-[1360px] m-auto px-5	 
}